.comingsoon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Playfair Display', serif;
    h1{
        font-size: 40px;
        letter-spacing: 5px;
        margin: 20px 0 0 0;
        padding: 0;
        text-align: center;
        transform: translate(0px, 45px)
    }
    h3{
        font-size: 24px;
        margin: 10px 0 ;
    }
    p{
        color:#555555;
        font-size: 14px;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    .center-img{
        width: 45%;
        z-index: -1;
    }
    .arrow{
        margin-bottom: 20px;
    }
    .icons{
        display: flex;
        a{
            transition: all .5 ease-in-out;
            display: flex;
            text-decoration: none;
            align-items: center;
            p{
                margin: 0 0 0 5px;
                padding: 0;
                display: none;
                font-family: 'Playfair Display', serif;
                
            }
        }
        .instagram{
            margin-left:20px;
            transition: all .5 linear;
            p{
                border-bottom:1px solid #e91e63;
            }
            &:hover svg{
                    fill: #e91e63;
                }
            &:hover p{
                display: block;
                color: #e91e63;
            }
        }
        .twitter{
            transition: all .5 linear;
            p{
                border-bottom:1px solid #299BCE;
            }
            &:hover svg{
                fill: #299BCE;
            }
            &:hover p{
            display: block;
            color: #299BCE;
            }
        }
        .facebook{
            transition: all .5 linear;
            margin-left:15px;
            p{
                border-bottom:1px solid #3578E5;
            }
            &:hover svg{
                transition: all .5 linear;
                fill: #3578E5;
            }
            &:hover p{
                transition: all .5 linear;
                display: block;
                color: #3578E5;
            }
        }
    }
}
.cmslt{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.cmsrb{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.cmslb{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.path{
    z-index: -2;
}