header{
    height: 13vh;
    nav{
        height: 13vh !important;
        background: $bg-color;
        height: 90px;
        padding: 0px 26px!important;
        .collapse{
            justify-content: flex-end !important;
            ul{
                background-color: #fff !important;

                .active{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        top: -20px;
                        left: 0;
                        right: 0;
                        height: 2px;
                        width: 90%;
                        background-color: $main-color;
                        margin: 0 auto;
                    }
                }
                li{
                    z-index: 999;
                    a{
                        font-family: 'Open Sans', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 16px;
                        display: flex;
                        align-items: center;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: $main-color;
                    }
                    button{
                        background: none;
                        border: none;
                        padding: 0 10px;
                        img{
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
}