.home{
    height: 87vh;
    position: relative;
    display: flex;
    .sidebar{
        width: 5%;
        background: $main-color;
        color: $bg-color;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 87vh;
        opacity: .8;
        position: absolute;
        z-index: 999;
        p{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            transform:rotate(-90deg)
        }
    }
    .content{
        width: 100%;
        .slider{
            height: 87vh;

            .swiper-container {
                width: 100%;
                padding: 0;
                height: 87vh;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
                cursor: grab;
                .swiper-wrapper{
                    height: 87vh;
                    .swiper-slide {
                        height: 87vh;
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                        background-size: 100% 100%;
                      }
                      .slide-f{
                          display: flex;
                          justify-content: flex-end;
                          align-items: flex-start;
                          flex-direction: column;
                          padding: 0px 0px 80px 70px;
                          h4{
                            font-family: 'Open Sans', sans-serif;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 28px;
                            line-height: 32px;
                            color: #FFFFFF;
                            padding-bottom: 0;
                            // margin-bottom: 0;
                          }
                          p{
                            font-family: 'Open Sans', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            padding-bottom: 0;
                            margin-bottom: 0;
                            color: #FFFFFF;
                          }
                      }
                }
                .swiper-pagination{
                    display: none;
                }
              }
              
        }
        
    }
    .footer{
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: $main-color;
        opacity: .8;
        padding: 20px 0px 20px 120px;
        z-index: 999;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h5{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            margin-bottom: 0;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}