.media-press{
    .swiper-slide{
        width: auto !important;
        border-right: 5px solid white;
    }
    .swiper-slide-text{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .m-top{
            margin-top: 5px;
        }
        .one{
            height: 50%;
            width: 100%;
            position: relative;

            img{
                height: 100%;
                transition: all .5s linear;
                position: relative;
                &:hover + .overlay{
                        display: block;
                        z-index: 999999;
                }
            }
            .overlay{
                position: absolute;
                margin: 0 auto;
                top: 3.5%;
                left: 0;
                right: 0;
                width: 93%;
                height: 93%;
                border: 2px solid #f5f5f5;
                display: none;
                z-index: 999999;
                &:hover{
                    display: block;
                }
            }
        }
        .two{
            position: relative;
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
                img{
                    height: 100%;
                   position: relative;
                   &:hover + .overlay-left{
                    display: block;
                    z-index: 999999;
            }
            &:hover + .overlay-right{
                display: block;
                z-index: 999999;
        }

                }  
                
                .overlay-left{
                    position: absolute;
                    margin: 0 auto;
                    top: 5%;
                    left: 4px;
                    width: 48%;
                    height: 90%;
                    border: 5px solid #f5f5f5;
                    z-index: 999999;
                    display: none;
                    &:hover{
                        display: block;
                    }
                }
                .overlay-right{
                    position: absolute;
                    margin: 0 auto;
                    top: 5%;
                    right: 4px;
                    width: 48%;
                    height: 90%;
                    border: 5px solid #f5f5f5;
                    z-index: 999999;
                    display: none;
                    &:hover{
                        display: block;
                    }
                }
        }
    }
}
.modal{
    .modal-dialog{
        .modal-content{
            .modal-body{
                .item_slider{
                    img{
                        width: 100%;
                    }
                }
            }
         
        }
    }
}